<div #dialogContent class="ui-dynamic-dialog-body">
    <div class="form-horizontal">

        <div class="form-group">
            <div class="form-label-div">
                <label class="form-label" for="Address">Id</label>
            </div>
            <div class="form-input-div">
                <label class="form-label" for="Address">{{medicine.medicineId}}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-label-div">
                <label class="form-label" for="Name">Name</label>
            </div>
            <div class="form-input-div">
                <input id="Name" [(ngModel)]="medicine.name" type="text" size="100" pInputText required>
            </div>
        </div>

        <div class="form-group">
            <div class="form-label-div">
                <label class="form-label" for="Quantity">Quantity</label>
            </div>
            <div class="form-input-div">
                <input id="Quantity" [(ngModel)]="medicine.quantity" type="number" size="30" pInputText required>
            </div>
        </div>

        <div class="form-group">
            <div class="form-label-div">
                <label class="form-label" for="Price">Price</label>
            </div>
            <div class="form-input-div">
                <input id="Price" [(ngModel)]="medicine.price" type="number" size="30" pInputText required>
            </div>
        </div>
    </div>
</div>

<div class="ui-dynamic-dialog-footer">
    <div class="text-right">
        <button pButton [disabled]="disableSave()" label="Save" class="m-r-12" (click)="editInventory()"></button>
        <button pButton label="Cancel" class="ui-button-tertiary" (click)="closeDialogBox()"></button>
    </div>
</div>