<h1 class="page-title">Retailer Placed Orders</h1>

<p-table #ordersTable [columns]="cols" [value]="orders" [paginator]="true" [rows]="10" selectionMode="single"
    (onRowSelect)="onOrderSelection($event.data)">

    <ng-template pTemplate="caption">
        <div class="flex-body justify-content-between">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="ei ei-magnifier"></i></span>
                <input class="ui-inputtext" type="text" pInputText size="50" placeholder="Search"
                    (input)="ordersTable.filterGlobal($event.target.value, 'contains')" [(ngModel)]="searchText" />
            </div>
            <button class="ui-button" pButton (click)="createRetailerOrder()" type="button" icon="ei ei-plus"
                iconPos="left" label="Create Order"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <span [innerHtml]="rowData[col.field] | highlight : [searchText]"></span>
            </td>
        </tr>
    </ng-template>
</p-table>